nav {
    .nav-link {
        background-image: linear-gradient(currentColor, currentColor);
        background-repeat: no-repeat;
        background-size: 0 1px;
        background-position: bottom left; 
        transition: background-size 0.3s ease;
        &:hover,
        &:focus-visible {
            background-size: calc(100% - 0.33em) 1px;
        }
    }
}

.btn {
    // background-color: red;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    padding: 14px 35px;
    border-radius: 50px;
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 14px;
    background-color: rgb(17, 24, 39);
    font-weight: 700;
    &:focus-visible, 
    &:hover {
        // border-color: rgba(17, 24, 39, 1);
        // border-color: rgba(255, 255, 255, 1);
        color: rgba(17, 24, 39, 1);
        color: white;
        background-color: rgba(17, 24, 39, 0.65);
        // background-color: rgb(164, 192, 177);
    }
}

.hero {
    .sans-serif-text {
        letter-spacing: 0.33em;
    }
}

#bridal-party {
    .top {
        object-position: top;
    }
}

#venue {
    a {
        // padding: 16px 40px;
        // &:hover,
        // &:focus-visible {
        //     border-color: rgba(17, 24, 39, 1);
        // }
    }
}

section[id] {
    scroll-margin-top: 80px;
}

.answer {
    display: grid;
    gap: 1em;
}

.attending {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-color: white;
        border: 1px solid rgb(209 213 219);
        border-radius: 0.5em;
    }
    &:has(input:checked) {
        &::after {
            position: absolute;
            left: var(--left); 
            top: var(--top);
            transform: translateY(-50%);
            content: var(--content);
            font-size: 32px;
            font-weight: 700;
            color: #7f9e8e;
        }
    } 
    &.accepting {
        --left: 3px;
        --top: calc(50% - 0.125em);
        --content: "✓";;
    }
    &.declining {
        --left: 0px;
        --top: calc(50%);
        --content: "✗";
    }
}